.App {
   height: 100%;
}
.UI{
  display:flex;
  text-align: center;
  align-items: center;
 background-color: rgb(164, 202, 236);
 height: 100vh;
 padding: 0% 2%;
}
#enroll{
  background-color: rgb(221, 223, 165);
  padding: 5%;
  margin: auto;
}
.btnl{
  width: 30%;
  padding: 2%;
  font-size: 1rem;
  background-color: rgb(27, 174, 194);
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}
#chatbot{
  display: block;
  background-color: rgb(255, 255, 255);
  padding: 2%;
  height: 75%;
  border: 20px;
  border:solid;
  margin: auto;
  gap: 10px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
.paragraph{
  background-color: rgb(225, 208, 206);
  font-size: 1rem;
  padding: 2%;
  width: 60%;
  height: 4%;
  margin-right:100px ;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.paragraph1{
  background-color: rgb(143, 217, 254);
  font-size: 1rem;
  padding: 2%;
  width: 60%;
  height: 4%;
  margin-left: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}
#second{
  margin-top: 6%;
  font-size: 2rem;
  display: none;
}
.chat{
  display: flex;
  gap: 10px;
}
#btn{
  width: 30%;
  padding: 2%;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 50px;
  background-color:rgb(110, 161, 153);
}
.input {
 position: absolute;
 bottom: 2%;
 width: 90%;
 height: 3%;
 right: 4%;
}
.registered{
  margin: auto;
  font-size: 2rem;
}